[submodule "Dependencies/FreeType"]
	path = Dependencies/FreeType
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "Dependencies/FreeImage"]
	path = Dependencies/FreeImage
	url = https://github.com/mlomb/FreeImage.git
[submodule "Dependencies/XShaderCompiler"]
	path = Dependencies/XShaderCompiler
	url = https://github.com/LukasBanana/XShaderCompiler.git
[submodule "Dependencies/Assimp"]
	path = Dependencies/Assimp
	url = https://github.com/assimp/assimp.git
[submodule "Dependencies/glsl-optimizer"]
	path = Dependencies/glsl-optimizer
	url = https://github.com/mlomb/glsl-optimizer
[submodule "Dependencies/msdfgen"]
	path = Dependencies/msdfgen
	url = https://github.com/Chlumsky/msdfgen
[submodule "Dependencies/rapidjson"]
	path = Dependencies/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
