
.hierarchy-tree {
    width: 100%;
    height: 100%;

    .list {
        background: var(--back-3);
    }

    .row .hierarchy-row {
        display: flex;
        padding-right: 3px;
        justify-content: center;
        align-items: center;

        .caret {
            font-size: 19px;
            min-width: 19px;
            display: flex;
            color: #646464;
            cursor: pointer;

            &:hover {
                color: #dbdbdb;
            }
        }
    }

    .row.selected .hierarchy-row {
        .caret {
            color: #dbdbdb;

            &:hover {
                color: white;
            }
        }
    }
}